# dependencies
node_modules

# bun
.bun
bun.lockb

# output
dist
*.tgz

# code coverage
coverage
*.lcov

# test
*.tsbuildinfo

# caches
.bunx
.cache
.eslintcache

# IntelliJ based IDEs
.idea

# VS Code
.vscode

# Finder (MacOS) folder config
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# OS
Thumbs.db

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
